<div class="rough-mix">
  <h3>
    <span {{action playRoughMix}} class="rough-mix-play-button icon-play-2"></span> 
    <span {{action pauseRoughMix}} class="rough-mix-pause-button icon-pause-2"></span> 
    Rough Mix 
    <small>All accepted parts without any mixing applied yet</small>
  </h3>
  <div id="rough-mix-progress" class="rough-mix-progress progress progress-striped">
    <div class="bar" style="height: 5px; width: 0%;"></div>
  </div>
  {{#if isMine}}
    {{#unless isSetupMode}}      
      {{#if readyToMix}}
        <div class="mixing-needed-bar">
          {{#if doesNeedMixing}}
            Tracks are locked for mixing
          {{else}}
            Be sure to upload the final version of the file when you are finished mixing.
            {{#view App.MixUploadView contentBinding="mix"}}
              <div class="fileupload fileupload-new pull-left" data-provides="fileupload">
                <span class="btn btn-file btn-success">
                  <span class="fileupload-new">Submit Mix</span>
                  <input id="mix-fileupload" type="file" name="files[]" data-url="server/php/" multiple>
                </span>
                <span class="fileupload-preview"></span>
              </div>
            {{/view}}
            <div id="mix-progress" class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
            </div>
          {{/if}}
        </div>
      {{else}}
        {{#unless mixFinal}}
          <div class="mixing-needed-bar">
            <button class="btn btn-small btn-warning" {{action setReadyToMix}}>All Tracks Finished</button>
            <span class="pull-right" style="margin-right:10px">Ready for mixing? </span> 
          </div>
        {{/unless}} 
      {{/if}}
    {{/unless}}
  {{else}}
    {{#unless mixFinal}}
      {{#if readyToMix}}
        <div class="mixing-needed-bar">
          Tracks are locked for mixing
        </div>
      {{/if}}
    {{/unless}}
  {{/if}}
  {{#each file in files}}
    {{#if file.isAccepted}}
      {{#view App.AcceptedAudioFileView}}
        {{acceptedAudio file.url}}
      {{/view}}
    {{/if}}
  {{/each}}
  <table class="table table-condensed">
  {{#each file in files}}
    {{#if file.isAccepted}}<tr>{{view App.TrackView contentBinding="file"}}</tr>{{/if}}
    {{#if file.tempInMix}}<tr class="temp-in-mix">{{view App.TrackView contentBinding="file"}}</tr>{{/if}}
  {{/each}}
  </table>
</div>