{{#with project}}
<div class="project-information span4">
<div class="project-name">{{#link-to 'project' this}}{{name}}{{/link-to}}</div>
<div class="project-creator">Created by {{creator.name}} {{fromNow createdDate}}</div>
<div class="project-genre">{{genre}}</div>
<div class="project-status">Status: {{status}}</div>
</div>
<div class="project-needs-summary span7">
  {{#each need in needs}}
    {{needsIcon need}}
  {{/each}}
  {{#if doesNeedMixing}}{{#if readyToMix}}
    <div class="role-icon icon-mixing open" title="mixing (open)"></div>
  {{/if}}{{/if}}
</div>

{{/with}}