{{#with content}}

<div class="row-fluid project-header">
  <h2>{{name}} <small>{{genre}}</small></h2> 
  <h6 class="description">{{description}}</h6>
  <h6>Created by {{creator.name}} {{fromNow createdDate}}</h6>
  <h6>Last updated {{fromNow lastUpdated}}</h6>
  <h6>Status: {{status}}
</div>

{{#if isMine}}
{{#unless tracksLocked}}
<h3>Upload Tracks</h3>
<div class="initial-tracks">
  {{#if isSetupMode}}
    <h4>Almost done setting up. Upload your tracks and click Complete.</h4>
    <div class='tips'>
      <h4> Tips</h4>
      <ol>
        <li>Upload each track as a separate file</li>
        <li>Tracks must be in mp3 format</li>
        <li>Each track NEEDS to start at the very beginning of the project (bar 1, beat 1)</li>
        <li>Keep your tracks free of any effects (fades, compression, etc)</li> 
      </ol>
    </div>
  {{else}}  
    <h5>As the creator of this project, you can still add tracks to the project, but be very careful what you change since this project is now open to other users to collaborate on.</h5>
  {{/if}}
  {{#view App.OwnerUploadView contentBinding="this"}}
    <div class="controls">{{view Ember.Select contentBinding="App.parts" valueBinding="uploadRole"}}</div>

    <div class="fileupload fileupload-new pull-left" data-provides="fileupload">
      <span class="btn btn-file btn-primary">
        <span class="fileupload-new">Upload Track</span>
        <input id="owner-fileupload" type="file" name="files[]" data-url="server/php/" multiple>
      </span>
      <span class="fileupload-preview"></span>
    </div>
    {{#if isSetupMode}}
    <button class="btn btn-success pull-right" {{action completeSetup}}>Complete Setup</button>
    {{/if}}
  {{/view}}
</div>
<div id="owner-progress" class="progress progress-striped active">
    <div class="bar" style="width: 0%;"></div>
</div>
{{/unless}}
{{/if}}

<div class="rough-mix">
  <h3>
    <span {{action playRoughMix}} class="rough-mix-play-button icon-play-2"></span> 
    <span {{action pauseRoughMix}} class="rough-mix-pause-button icon-pause-2"></span> 
    Rough Mix 
    <small>All accepted parts without any mixing applied yet</small>
  </h3>
  <div id="rough-mix-progress" class="rough-mix-progress progress progress-striped">
    <div class="bar" style="height: 5px; width: 0%;"></div>
  </div>
  {{#if isMine}}
    <div class="mixing-needed-bar">
      {{#if readyToMix}}
        {{#if needsMixing}}
          Tracks are locked for mixing
        {{else}}
          Be sure to upload the final version of the file when you are finished mixing.
        {{/if}}
      {{else}}
        {{#if mixFinal}}
          Final Mix here HERE HERE HERE HERE HERE HERE HERE HERE HERE HERE HERE HERE
        {{else}}
          <button class="btn btn-small btn-warning" {{action setReadyToMix}}>All Tracks Finished</button>
          <span class="pull-right" style="margin-right:10px">Ready for mixing? </span> 
        {{/if}} 
      {{/if}}
    </div>
  {{else}}
    {{#if mixFinal}}
    Final Mix here HERE HERE HERE HERE HERE HERE HERE HERE HERE HERE HERE HERE
      <div class="mixing-needed-bar">
        {{#each file in files}}
          {{#if file.isAcceptedMix}}<tr>{{view App.TrackView contentBinding="file"}}</tr>{{/if}}
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
  {{#each file in files}}
    {{#if file.isAccepted}}
      {{#view App.AcceptedAudioFileView}}
        {{acceptedAudio file.url}}
      {{/view}}
    {{/if}}
  {{/each}}
  <table class="table table-condensed">
  {{#each file in files}}
    {{#if file.isAccepted}}<tr>{{view App.TrackView contentBinding="file"}}</tr>{{/if}}
    {{#if file.tempInMix}}<tr class="temp-in-mix">{{view App.TrackView contentBinding="file"}}</tr>{{/if}}
  {{/each}}
  </table>
</div>

<h3>Parts</h3>

{{#if needsMixing}}
{{#if readyToMix}}
<div class="need-options">
  <h4><div class="role-icon icon-mixing" title="mixing"></div> Mixing</h4>
  <p>{{need.details}}</p>
  {{#if mix.isMine}}
    {{#if mix.isAccepted}}
      <div class="need-status">Congratulations! Your mix was accepted!</div>
    {{else}}
      {{#if mix.isOpen}}
        {{#if mix.isSubmitted}}
          <div class="need-status">You have submitted your mix and are waiting for the owner to accept or reject it</div>
        {{else}}
          {{#if mix.isRejected}}
            <div class="need-status">Sorry, your mix was not accepted</div>
          {{else}}
            <div class="need-status">You are mixing this project</div>
  
            {{#view App.MixUploadView contentBinding="mix"}}
              <div class="fileupload fileupload-new pull-left" data-provides="fileupload">
                <span class="btn btn-file btn-success">
                  <span class="fileupload-new">Submit Mix</span>
                  <input id="mix-fileupload" type="file" name="files[]" data-url="server/php/" multiple>
                </span>
                <span class="fileupload-preview"></span>
              </div>
            {{/view}}
            <div id="mix-progress" class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
            </div>
          {{/if}}
        {{/if}}
      {{else}}
        <div class="need-status">This part is {{mix.status}}</div>
      {{/if}}
    {{/if}}
  {{else}}
    <div class="need-status">This part is {{mix.status}}</div>
    {{#if mix.isOpen}}
      {{#if isMine}}
        <button class="btn btn-primary" {{action closeMix}}>Close</button>
      {{else}}
        <button class="btn btn-primary" {{action auditionMix}}>Audition</button>
      {{/if}}
    {{else}}
       {{#if isMine}}<button class="btn btn-primary" {{action reopenMix}}>Reopen</button>{{/if}}
    {{/if}}
  {{/if}}
</div> 
<div class="auditions">
  {{#each audition in mix.auditions}}
    {{#if audition.id}}
      {{#view App.AuditionListView contentBinding="audition"}}
        {{auditionText audition}}
        {{#if audition.file}}
          {{#if isMine}}
            <button class="btn btn-success btn-small" {{action acceptMix audition}}>Accept</button>
            <button class="btn btn-danger btn-small" {{action rejectMix audition}}>Reject</button>
          {{/if}}
          <div class="audition-file pull-right">
            <span {{action playSolo audition.file}} class="solo-play-button icon-play-2" title="play solo track"></span> 
            {{playAuditionSolo audition files}}
            {{#if audition.isMine}}
              {{#if audition.isAccepted}}
                {{downloadAuditionAudio audition files}}
              {{else}}
                <span class="icon-remove" title="delete track" {{action deleteAuditionAudio mix audition}}></span>
              {{/if}}
            {{else}}
              {{downloadAuditionAudio audition files}}
            {{/if}}
          </div>
        {{/if}}
      {{/view}}
    {{/if}}
  {{/each}}
</div>
{{/if}}
{{/if}}


{{#each need in needs}}
<div class="need-options">
  <h4>{{needsIcon need}} {{need.role}}</h4>
  <p>{{need.details}}</p>
  {{#if need.isMine}}
    {{#if need.isAccepted}}
      <div class="need-status">Congratulations! Your track was accepted for this part! You should see it in the Rough Mix above.</div>
    {{else}}
      {{#if need.isOpen}}
        {{#if need.isSubmitted}}
          <div class="need-status">You have submitted your track for this part and are waiting for the owner to accept or reject it</div>
        {{else}}
          {{#if need.isRejected}}
            <div class="need-status">Sorry, your track was not accepted for this part.</div>
          {{else}}
            <div class="need-status">You are auditioning for this part</div>
  
            {{#view App.AuditionerUploadView contentBinding="need"}}
              <div class="fileupload fileupload-new pull-left" data-provides="fileupload">
                <span class="btn btn-file btn-success">
                  <span class="fileupload-new">Submit Track</span>
                  <input id="auditioner-fileupload" type="file" name="files[]" data-url="server/php/" multiple>
                </span>
                <span class="fileupload-preview"></span>
              </div>
            {{/view}}
            <div id="auditioner-progress" class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
            </div>
          {{/if}}
        {{/if}}
      {{else}}
        <div class="need-status">This part is {{need.status}}</div>
      {{/if}}
    {{/if}}
  {{else}}
    <div class="need-status">This part is {{need.status}}</div>
    {{#if need.isOpen}}
      {{#if isMine}}
        <button class="btn btn-primary" {{action closeNeed need}}>Close</button>
      {{else}}
        <button class="btn btn-primary" {{action audition need}}>Audition</button>
      {{/if}}
    {{else}}
       {{#if isMine}}{{#unless isClosed}}<button class="btn btn-primary" {{action reopenNeed need}}>Reopen</button>{{/unless}}{{/if}}
    {{/if}}
  {{/if}}
</div>
<div class="auditions">
  {{#each audition in need.auditions}}
    {{#if audition.id}}
      {{#view App.AuditionListView contentBinding="audition"}}
        {{auditionText audition}}
        {{#if audition.file}}
          {{#if isMine}}
            <button class="btn btn-success btn-small" {{action changeAuditionStatus need audition 'accepted'}}>Accept</button>
            <button class="btn btn-danger btn-small" {{action changeAuditionStatus need audition 'rejected'}}>Reject</button>
          {{/if}}
          <div class="audition-file pull-right">
            <span {{action playSolo audition.file}} class="solo-play-button icon-play-2" title="play solo track"></span> 
            {{#unless audition.isAccepted}}<span {{action toggleMix audition.file}} class="toggle-mix-button icon-equalizer" title="add to the rough mix"></span>{{/unless}}
            {{playAuditionSolo audition files}}
            {{#if audition.isMine}}
              {{#if audition.isAccepted}}
                {{downloadAuditionAudio audition files}}
              {{else}}
                <span class="icon-remove" title="delete track" {{action deleteAuditionAudio need audition}}></span>
              {{/if}}
            {{else}}
              {{downloadAuditionAudio audition files}}
            {{/if}}
          </div>
        {{/if}}
      {{/view}}
    {{/if}}
  {{/each}}
</div>
{{/each}}

{{/with}}
