{{#with content}}

<div class="row-fluid project-header">
  <h2>{{name}} <small>{{genre}}</small></h2> 
  <h6 class="description">{{description}}</h6>
  <h6>Created by {{creator.name}} {{fromNow createdDate}}</h6>
  <h6>Last updated {{fromNow lastUpdated}}</h6>
  <h6>Status: {{status}}
</div>

{{partial "project/initial-tracks"}}

{{partial "project/final-mix"}}

{{partial "project/rough-mix"}}

<h3>Parts</h3>

{{partial "project/mixing-need"}}

{{partial "project/needs"}}

{{/with}}
