{{#with project}}
<div class="project-information span4">
<div class="project-name">{{#linkTo project this}}{{name}}{{/linkTo}}</div>
<div class="project-creator">Created by {{creator.name}} {{fromNow createdDate}}</div>
<div class="project-genre">{{genre}}</div>
</div>
<div class="project-needs-summary span7">
  {{#each need in needs}}
    {{needsIcon need}}
  {{/each}}
</div>
{{/with}}