<th>{{needsIcon file}}</th>
<th>{{file.name}}</th> 
<th>{{file.user.name}}</th> 
<th>{{fromNow file.date}}</th> 
<th>
  {{#if isMine}}
    {{#if file.isMine}}
      <span class="icon-remove" title="delete track" {{action deleteAudio file}}></span>
    {{else}}
      {{downloadAudio file}}
    {{/if}}
  {{else}}
    {{downloadAudio file}}
  {{/if}}
</th>
